name: Playwright Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      # B1: clone source code từ github
      - name: Checkout code
        uses: actions/checkout@v4

      # B2: thiết lập môi trường nodejs
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm" # cache này giúp tăng tốc độ build playwright

      # B3: cài đặt các thư viện có trong source code playwright
      - name: Install dependencies
        run: npm install

      # B4: cài các browser có sẵn của playwright
      # with-deps: cài đặt các thư viện phụ thuộc của browser
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      # B5: chạy test
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
